!!!
%html
  %head
    %title WeatherInformation
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:400,600'
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
    = favicon_link_tag asset_path('cloud-sun.ico'), rel: 'icon', type: 'image/x-icon'

  %body
    = yield
